html, body {
   height:100%;
   min-height: 100%;
   margin:0px;
   background-color:#221122;
   color:#ffffff;
}

/*
    theslide
*/
*.visible_content {
   width: 100%;
   height:100%;
}

.picture_slide {
  position: fixed; 
  top: -30%; 
  left: -30%; 
  width: 160%; 
  height: 160%;
}

.picture_slide img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-height: 66%;
  max-height: 90%;
}


/*
    controls
*/

*.controls {
  position: absolute;
  bottom: 20px;
  left:50px;
  width:300px;
  height:50px;
  overflow:visible;
}

*.controls a {
  text-decoration:none;
  display:block;
  height:40px;
  color:#fff;
}

*.controls a:hover {
  text-decoration:none;
  background-color:#ddd;
}

*.controls > div  {
  background-color:#000;
}

*.fwd, *.bck, *.ovw {
  width: 40px;
  height:40px;
  font-weight:900;
  float:right;
}

*.controls *.fwd {
  font-size:1.3em;
}

*.controls > *.bck {
  font-size:1.3em;
}

*.controls > *.ovw {
  left:250px;
  font-size:0.7em;
}

*.link_list {
  width:100px;
  background-color:#000;
  position:absolute;
  left:0px;
  bottom:10px;
}

*.link_list *.current_category {
  width:100px !important;
  height:40px;
  background-color:#000;
}

*.link_list > ul {
  list-style: none;
  margin:0px;
  padding:0px;
  width:100%;
  position:absolute;
  bottom:0px;	 
}

*.link_list ul li{
  margin:0px;
  padding:0px;
}

*.link_list ul li ul{
  display:none;
  list-style: none;
  margin:0px;
  padding:0px;
}

*.link_list ul:hover li ul{
  display: block;
}

*.link_list ul.hover li ul{
  display: block;
}

*.link_list a{
  width:100px;
  margin:0px;
  background-color:#000;
}

/*
    description
*/

*.description {
  position: absolute;
  bottom: 20px;
  right:50px;
  width:350px;
  height:100px;
  background-color:#334433;
}

div.real_content {
  display:none;
}

*.inner_div {
  display:none;
  position:fixed;
  z-index:9999;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;     
  background-color:#000000
}

.transparent {
  /* Required for IE 5, 6, 7 */
  /* ...or something to trigger hasLayout, like zoom: 1; */

  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=85);

  /* Older than Firefox 0.9 */
  -moz-opacity:0.85;

  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: 0.85;

  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: 0.85;
}


