html, body {
   height:100%;
   min-height: 100%;
   margin:0px;
   background-color:#110011;
   color:#ffffff;
}

*.visible_content {
   width: 100%;
   height:100%;
}

.picture_slide {
  position: fixed; 
  top: -30%; 
  left: -30%; 
  width: 160%; 
  height: 160%;
}

.picture_slide img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-height: 66%;
  max-height: 90%;
}


*.controls {
  position: absolute;
  bottom: 20px;
  left:50px;
  width:300px;
  height:50px;
  background-color:#334433;
  overflow:visible;
}

*.controls > a {
  display:block;
  position:absolute;
  bottom:10px;
  width: 40px;
}

*.controls > a.fwd {
  left:110px;
}

*.controls > a.bck {
  left:150px;
}

*.controls > a.ovw {
  left:200px;
}

*.link_list {
  width:100px;
  position:absolute;
  bottom:10px;
  left:2px;
}

*.link_list > ul {
  position:absolute;
  bottom:0px;
  left:0px;
  list-style: none;
  background-color:#665566;
  margin:0px;
  padding:0px;
  width:100;
}

*.link_list ul li ul{
  display:none;
  list-style: none;
  margin:0px;
  padding:0px;
}

*.link_list ul:hover li ul{
  background: #999;
  border: #fff solid;
  border-width: 1px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

*.link_list ul.hover li ul{
  background: #999;
  border: #fff solid;
  border-width: 1px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

*.link_list a{
  display:block;
  height:50px;
  width:90px;
  padding:2px;
  text-decoration:none;
  background-color:#eeeeee;
}

*.description {
  position: absolute;
  bottom: 20px;
  right:50px;
  width:350px;
  height:100px;
  background-color:#334433;
}

div.real_content {
  display:none;
}

.transparent {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=70);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.7;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.7;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.7;
}
