
div.navi {
  margin:70px auto 20px auto;
  width: 1004px;
}

*.navi ul {
  list-style: none;
  margin:0px;
  padding:0px 0px 0px 0px;
  width:100%;
  display:block;
  background-color:#000;
  height:40px;
  font-size: 16pt;
}

*.navi ul li{
  list-style: none;
  display:block;
  float:left;
  margin: 10px 0px 10px 10px;
  padding:0px 0px 0px 0px;
  width: 186px;
}



div#header {
  position:absolute;
  top:50px;
  left:0px;
  right:0px;
  width:1004px;
  margin: 0px auto;
}

div#header div#logo {
  position:absolute;
  top:0px;
  left:0px;
}

div#header div#information {
  position:absolute;
  top:0px;
  right:0px;
  background-color:#323232;
  color:#fff
}

a {
  text-decoration:none;
  display:block;
  color:#848484;
  outline:none
}

*.huge_text {
  font-size:16pt;
}

li.selected a{
  text-decoration:underline;
}
