
div.navi {
  margin:50px auto 20px auto;
  width: 85%;
}

*.navi ul {
  list-style: none;
  margin:0px;
  padding:0px;
  width:100%;
  background-color:#000;
  display:block;
  height:45;
}

*.navi ul li{
  list-style: none;
  display:block;
  float:left;
  margin: 10px;
}
