
*.item {
  height:90px;
  display:block;
  float:left;
  margin:5px;

  border-width:1px;
  border-style:groove;
  border-color:#eeddee;     
}

*.item span{
  height:90px;
  width:140px;
  display:block;
  vertical-align:middle;
  float:left;
}

*.item img {
  height:90px;
  border:0px;
  border-style:none;
  display:block;
}

#inner_ov {
  width:85%;
  margin:50px auto;
}

*.bordered {
  border-style: groove;
  border-width: 2px 5px 5px 2px;
  border-color: #eeddee;
  padding:10px;
}
