
*.item {
  height:98px;
  width:196px;
  display:block;
  float:left;
  margin:2px;
  border-width:0px;
}

*.item span{
  height:98px;
  width:196px;
  display:block;
  margin:20px 0px 0px 6px;
  float:left;
  font-size:16pt;
}
img { border: 0px }

*.item img {
  height:98px;
  width:196px;
  border-style:none;
  display:block;
}

#inner_ov {
  width:1004px;
  margin:30px auto;
  background-color:#000;
}

*.bordered {
  border-style: groove;
  border-width: 2px 5px 5px 2px;
  border-color: #eeddee;
  padding:10px;
}

